body{
    /* box-sizing: border-box; */
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    background-image: url('https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg');
    background-size: cover;
    background-position: center;
}   
header{
    background-color: aliceblue;
    padding: 15px;
    box-shadow: 0 0 3px #000;
}
header li {
    display: inline;
    padding-left: 15px;

}
header li a {
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}

header li a:hover{
    color: royalblue; 
}

.contact{
    color: #fff;
    background-color: royalblue;
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
}

.contact:hover{
    color:rgb(33, 31, 28);
    background-color: rgb(250, 163, 41);
    border-radius: 30px;
    float: right;
    position: relative;
    top: -15px;
}

.active{
    color: royalblue;
}